/* Applies styles to the whole html page */
body {
    background-color: #858585;
    font-family: Arial, sans-serif;
    margin-bottom: 200px;
}
/* Applies styles to images */
.vdlh {
    text-align: center;
}
/* Applies styles to the paragraphs */
.aboutc {
    padding-left: 10px;
}
.purposec {
    padding-left: 10px;
}
.membersc {
    padding-left: 10px;
}
.faqc {
    padding-left: 10px;
}
.projectc {
    padding-left: 10px;
}
.supportc {
    color: white;
    padding-left: 25px;
    font-size: 15px;
}
.socialc {
    color: white;
    padding-left:25px;
    font-size: 15px;
}
/* Applies styles to the heads */
#HeadAbout {
    font-size:20px;
}
#HeadPurpose {
    font-size:20px;
}
#HeadMembers {
    font-size:20px;
}
#HeadFAQ {
    font-size:20px;
}
#HeadProject {
    font-size:20px;
}
/* Applies styles to the footer */
#foooter {
    background-color: #202020;
    position: fixed;
                bottom: 0;
                width: 100%;
                left: 0px;
   text-align: center;
}
.slinks {
    color: #0080ff;
    text-decoration: none;
    font-weight: none;
    font-size: 15px;
}
#dc {

}
/* Applies styles to the navigation bar */
nav {
    background-color: #252525;
    padding-bottom : 13px;
    padding-top : 13px;
    border: 2px solid white
}
.coloreda {
    color : #858585;
    text-decoration: none;
    padding-left: 13px;
    padding-right: 13px;
}
.ona {
    color: #505050;
    padding-left: 13px;
    padding-right: 13px;
}
a {
    font-size : 18px;
}
.coloreda:hover {
    color: #0080ff;
    text-decoration: none;
    font-weight: none;
}
/* Applies styles to the social icons */
#yt {
}
