/* Applies styles to the whole html page */
body {
    background-color: #858585;
}
/* Applies styles to images */
#vdlh {
    border: 1px solid black;
    position: fixed;
    top: 15%;
    left: 35%;
}
/* Applies styles to the paragraphs */
.aboutc {
}
.purposec {
}
.membersc {
}
.faqc {
}
.supportc {
    color: white;
}
/* Applies styles to the heads */
#HeadAbout {
    font-size:20px;
}
#HeadPurpose {
    font-size:20px;
}
#HeadMembers {
    font-size:20px;
}
#HeadFAQ {
    font-size:20px;
}
#HeadSupport {
    font-size:20px;
}
#HeadProject {
    font-size:20px;
}
/* Applies styles to the footer */
#foooter {
    background-color: #202020;
    position: fixed;
                bottom: 0;
                width: 100%;
                left: 0px;
}
/* Applies styles to the navigation bar */
nav {
    background-color: #252525;
    padding-bottom : 12px;
    padding-top : 12px;
    border: 2px solid white
}
.coloreda {
    color : blue;
}
.ona {
    color: #858585;
}
a {
    font-size : 18px;
}
